.table-header { 
    background: -webkit-linear-gradient(top, rgba(235,205,235,1) 0%,rgba(230,230,230,1) 14%,rgba(255,255,255,1) 45%, rgba(255,255,255,1) 55%, rgba(217,217,217,1) 96%, rgba(184,184,184,1) 100%);
}

.css-test {
    display: inline;
    margin-left: 10px;
    background-color: aquamarine;
}

.css-test2 {
    border-bottom-color: blue;
    border-bottom-width: 1px;

}

  .border-box {
    box-sizing: border-box;
  }
  
  .img-container {
    float: left;
    width: 25px;
    padding: 1px;
  }

  .text-container {
    float: left;
    width: 80%; 
    padding: 6px; 
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .text-format{
    word-wrap: break-word
  }

  .img-responsive-custom {
    display: block;
    max-width: 100%;
    height: auto;
    min-width: 63px;
    border: 0;

  }


  .imgFilter {
    width : 15px;
 }


  .categories-text-breakword {            
    word-wrap: break-word;    
  }

  .categories-text-width {        
    max-width: 90%; 
    /* font-size: 100%;    */
  }